html,
body,
#app{
  height: 100%;
  margin: 0;
  padding: 0;
  /* 最小屏幕宽度 */
  min-width: 1366px;
}
.el-breadcrumb{
  margin-bottom: 15px;
  font-size:12px;
}
.el-card{
  box-shadow: 1px 1px 1px rgba(0,0,0,0.15) !important;
}
.el-cascader-menu {
  height:300px;
}
.el-cascader-menu__wrap{
  height: 100% !important;
}
/* 放入vue文件中不起作用是因为模板未编译找不到该类的组件，所以定义在全局中 */
.el-step__title {
  font-size: 13px ;
}
/* 隐藏横向滚动条 */
.el-scrollbar__wrap{
  overflow-x: hidden;
}
.ql-editor{
  min-height: 300px;
}